@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
  
.about {
    overflow: auto;
    margin-bottom: -6px;
    padding-left: 10px;
  
    max-height: calc(100vh - 64px - 128px);
    min-height: calc(100vh - 64px - 300px);
  }
  
  .about.is-mobile {
    margin-right: -14px;
    padding-left: 0px;
    width: 100%;

    max-height: calc(100vh - 56px - 169px);
    min-height: calc(100vh - 56px - 300px);
  }
  
  .about.is-tablet {
    margin-left: 0;
    margin-right: 0;
  
    max-height: calc(100vh - 64px - 169px);
    min-height: calc(100vh - 64px - 300px);
  }
  
  .group-container {
    align-items: end;
  }
  
  .avatar {
    background-size: cover;
    background-position: center;
    min-height: 50px;
    min-width: 50px;
    height: 100%;
  }
  
  .avatar-container {
    width: 100%;
    height: 100%;
  }
  
  .group-header {
    height: 200px;
    width: 100%;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    flex-flow: row;
  }
  
  .group-title-container{
    display: flex;
    flex-flow: row;
  }

  .group-title {
    height: 55px;
    min-width: 230px;
    overflow: hidden;
  }

  .group-name { 
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
    font-family: 'Raleway', cursive;
    font-weight: 100;
    font-size: 40px;
    width: min-content;
  }

  .group-title-button {
    flex: 1;
  }

  .live{
    margin-left: 3px;
  }
