<div class="headerContainer">
  <div class="titleContainer">
    <span class="title">Eventi questo mese</span><br>
    <span class="subtitle"></span>
  </div>
  <div class="flex-spacer"></div>
  <app-calendar></app-calendar>
</div>

<mat-table [dataSource]="monthEvents" class="mat-elevation-z8">

  <ng-container matColumnDef="day">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.day }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="month">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.month }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="groupName">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.groupName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="button">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button
        color="primary"
        (click)="startFunction(element.event)"
        [class.isMobile]="isMobile"
        *ngIf="!(isMobile && element.buttonIcon != undefined)">
        {{ element.button }}
      </button>
      <button mat-mini-fab
        color="primary"
        (click)="startFunction(element.event)"
        *ngIf="isMobile && element.buttonIcon != undefined">
        <mat-icon> {{ element.buttonIcon }} </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-row *matRowDef="let row; columns: monthEventsColumns;"></mat-row>

</mat-table>
