.user-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 50px;
  padding-bottom: 50px;
}

.user-container.is-mobile {
  padding-top: 0;
  padding-bottom: 0;
}

mat-card {
  width: 500px;
  text-align: center;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

mat-card.is-mobile {
  height: 100%;
  width: 100%;
}

.is-tablet .form-container {
  height: calc(100vh - 227px) !important;
}

.is-mobile .form-container {
  max-height: inherit;
  height: calc(100vh - 219px);
}

.title {
  font-size: 30px;
  opacity: 0.7;
}

.form-container {
  margin: 25px auto 15px auto;
  width: 75%;
  max-height: calc(100vh - 275px);
  min-height: 150px;
  overflow-y: auto;
  padding-right: 5px;
}

.form-container > mat-form-field {
  margin-bottom: 10px;
  width: 100%;
}

.buttons {
  width: calc(75% + 5px);
  margin: 5px auto 10px auto;
}

.buttons > button:first-child {
  width: 100%;
  margin-bottom: 5px;
}

.buttons > span {
  margin-right: 5px;
}

.buttons > .pwd-button {
  padding: 0 5px;
}
