<mat-card class="hero">
  <mat-card-content>
    <h1>Open mouth blues Orchestra</h1>
    <h1><span>dal vivo!</span></h1>
    <button mat-raised-button
      color="primary">
      Start Live!
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="section" color="primary">
  <mat-card-content>
    <h1 class="titleSec">Prossimi eventi</h1>
    <span>min 1H - max 1 week</span>

    <mat-grid-list
      [cols]="getColumnsNr()"
      rowHeight="450px"
      class="next-events">
      <mat-grid-tile><div><app-next-events></app-next-events></div></mat-grid-tile>
      <mat-grid-tile><div><app-next-events></app-next-events></div></mat-grid-tile>
      <mat-grid-tile><div><app-next-events></app-next-events></div></mat-grid-tile>
      <mat-grid-tile><div><app-next-events></app-next-events></div></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<mat-card class="section" color="primary">
  <mat-card-content>
    <div class="headerSecContainer">
      <span class="titleSec">Eventi questo mese</span>
      <div class="flex-spacer"></div>
      <app-calendar></app-calendar>
    </div>

    <mat-table [dataSource]="monthEvents" class="mat-elevation-z8">

      <ng-container matColumnDef="day">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.day}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="month">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.month}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="groupName">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.groupName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="button">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button
            color="primary"
            (click)="element.event()">
            {{element.button}}
          </button>
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: monthEventsColumns;"></mat-row>

    </mat-table>
  </mat-card-content>
</mat-card>
