.hero{
  background-image: url('/assets/img/pexels-snapwire-6966.jpg') !important;
  background-size: cover;
  background-position: center bottom;
  height: 300px;
  margin: 20px;
  padding: 30px;
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero span {
  font-weight: bold;
}

.section {
  margin: 20px;
  padding: 15px;
  background-color: #535353;
}

.hero.isMobile h1 {
  font-size: 35px;
  margin-bottom: 5px;
}
