<mat-card
  class="hero"
  [class.isMobile]="isMobile">
  <mat-card-content>
    <h1>Open mouth blues Orchestra</h1>
    <h1><span>dal vivo!</span></h1>
    <button mat-raised-button
      color="primary">
      Start Live!
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="section" color="primary">
  <mat-card-content>
    <app-next-events></app-next-events>
  </mat-card-content>
</mat-card>

<mat-card class="section" color="primary">
  <mat-card-content>
    <app-top-events></app-top-events>
  </mat-card-content>
</mat-card>
