<div class="group-container"
  [class.is-mobile]="isMobile">
  <mat-card
    [class.is-mobile]="isMobile"
    [class.is-tablet]="sizeMode == 'md'"
    *ngIf="group">
    <span class="title">Modifica Gruppo</span>
    <form [formGroup]="genreCategory">
      <div class="form-container">

        <mat-form-field>
          <mat-label>Nome gruppo</mat-label>
          <input matInput [value]="group.Name">
          <mat-error> Errore </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descrizione</mat-label>
            <textarea matInput placeholder="Scrivi una descrizione del gruppo">{{group.Description}}</textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Generi</mat-label>
            <mat-select multiple formControlName="genreName">
                <mat-option *ngFor="let genre of genres" [value]="genre.Genre">
                    {{genre.Genre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
  
        <!-- <p>{{genreCategory.get('genreName')!.value | json}}</p> -->
    
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Componenti gruppo</mat-label>
          <mat-chip-list #chipList aria-label="Username selection">
            <mat-chip
              *ngFor="let user of users"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(user)">
              {{user}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="New user..."
              #userInput
              [formControl]="userCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        

        <div class="avatar-import">
            <div class="avatar-import-label">
                <mat-label>Seleziona immagine: </mat-label>
            </div>
            <div class="avatar-import-button">
                <input 
                    hidden 
                    type="file" 
                    #fileinput
                    (change)="selectedFile($event)"
                />
                <button mat-button (click)="fileinput.click()">
                    Seleziona file
                </button>
                <div class="avatar-import-label" *ngIf="avatar">
                    <mat-label>{{avatar}}</mat-label>
                </div>
            </div>
        </div>
        
      </div>
      <div class="buttons">

        <button mat-raised-button
            color="primary">
            <!--(click)="editUser()"-->
          Salva
        </button>

      </div>
    </form>

  </mat-card>
</div>
