<mat-toolbar class="header">
  <button mat-icon-button
      aria-label="Home"
      routerLink="" >
    <mat-icon>album</mat-icon>
  </button>
  <span class="titleApp">nStage</span>
  <button mat-button
    routerLink="" >
    HOME
  </button>
  <button mat-button
    routerLink="event" >
    EVENTI
  </button>
  <button mat-button
    routerLink="faq" >
    FAQ
  </button>
  <button mat-button
    routerLink="contactus" >
    CONTATTACI
  </button>

  <span class="toolbar-spacer"></span>

  <div class="example-button-row">
    <button mat-raised-button color="primary">Sign up</button>
    <button mat-raised-button color="accent" routerLink="login">Log in</button>
  </div>

</mat-toolbar>
