<mat-toolbar class="header" color="primary">

  <button mat-button
      aria-label="Home"
      routerLink="/" >
    <mat-icon>album</mat-icon>
    <span class="title-app">nStage</span>
  </button>

  <app-menu
    style="width: 100%;"
    [navbar]="true"
    *ngIf="!isMobile && !isLogged"></app-menu>

  <span class="flex-spacer"></span>

  <button mat-icon-button
      aria-label="Menu"
      *ngIf="isMobile"
      (click)="openSidebar()" >
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button
      aria-label="User"
      (click)="openUserHome()" >
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
