.menu {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 74px);
  margin-top: 5px;
}

.flex-spacer {
  flex: 1;
}

button {
  width: calc(100% - 10px);
  margin: 5px;
}

.menu.navbar {
  flex-flow: row;
  height: inherit;
  width: 100%;
  margin-top: 0;
}

.navbar button {
  width: auto;
}
