<div class="menu"
  [class.navbar]="navbar">
  <button mat-raised-button
    color="accent"
    (click)="closeMenu()"
    routerLink="/signup" >
    Sign up
  </button>
  <button mat-button
    (click)="closeMenu()"
    routerLink="/login" >
    Log in
  </button>

  <mat-divider
    *ngIf="isMobile" ></mat-divider>
  <span
    *ngIf="!isMobile"
    class="flex-spacer"></span>

  <button mat-button
    (click)="closeMenu()"
    routerLink="/contact" >
    CONTATTACI
  </button>
  <button mat-button
    (click)="closeMenu()"
    routerLink="/faq" >
    FAQ
  </button>
  <button mat-button
    (click)="closeMenu()"
    routerLink="/event" >
    EVENTI
  </button>

</div>
