.main {
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-width: 320px;
}

.main.is-mobile {
  flex-flow: column-reverse;
}

mat-sidenav-container {
  flex: 1;
}

.tools {
  width: 45px;
}

.menu {
  width: 250px;
}

.footer {
  height: 27px;
}

.footer span {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.footer a {
  color: inherit;
  font-weight: bold;
}

.user-home {
  position: absolute;
  z-index: 2;

  top: 84px;
  right: 20px;
  width: 330px;
  max-height: 480px;

  display: none;
}

.user-home.user-home-opened {
  display: block;
}

.user-home.is-mobile {
  top: inherit;
  bottom: 76px;
  right: 20px;
  width: 280px;
  max-height: 450px;
}

.user-home.is-tablet {
  bottom: 84px !important;
}

.user-home-backdrop {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;

  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: background-color,visibility;
}

.user-home-backdrop.user-home-backdrop-opened {
  background-color: rgba(189,189,189,.6);
  visibility: visible
}
