.main {
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-width: 320px;
}

mat-sidenav-container {
  flex: 1;
}

.tools {
  width: 45px;
}

.menu {
  width: 250px;
}

.footer {
  height: 27px;
}

.footer span {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.footer a {
  color: inherit;
  font-weight: bold;
}
