<div class="main">
  <app-navbar></app-navbar>

  <mat-sidenav-container>

    <mat-sidenav #tools
      mode="side"
      class="tools"
      opened
      *ngIf="isLogged" >
      <app-tools></app-tools>
    </mat-sidenav>

    <mat-sidenav #menu
      mode="over"
      class="menu"
      position="end" >
      <app-menu
        [navbar]="false"></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar class="footer" color="primary">
    <span>OnStage by <a href="https://github.com/soundwave00">Soundwave</a> & <a href="https://github.com/Riddorck">Riddorck</a></span>
  </mat-toolbar>

</div>
