<div
  class="main"
  [class.is-mobile]="isMobile" >
  <app-navbar></app-navbar>

  <mat-sidenav-container>

    <mat-sidenav #tools
      mode="side"
      class="tools" >
      <app-tools
        *ngIf="isLogged"></app-tools>
    </mat-sidenav>

    <mat-sidenav #menu
      mode="over"
      class="menu"
      position="end" >
      <app-menu
        *ngIf="isMobile && !isLogged"
        [navbar]="false"></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <div class="user-home" #userHome
    [class.is-mobile]="isMobile"
    style="display: none;"
    *ngIf="isLogged" >
    <app-user-home></app-user-home>
  </div>

  <!--
  <mat-toolbar
    class="footer"
    color="primary"
    *ngIf="!isMobile" >
    <span>OnStage by <a href="https://github.com/soundwave00">Soundwave</a> & <a href="https://github.com/Riddorck">Riddorck</a></span>
  </mat-toolbar>
  -->

</div>

<div class="user-home-backdrop" #userHomeBackdrop
  style="display: none;"
  (click)="closeUserHome()" ></div>
