<div class="tools"
  [class.is-mobile]="isMobile" >
  <button mat-icon-button aria-label="Eventi vicini a te">
    <mat-icon>place</mat-icon>
  </button>
  <button mat-icon-button aria-label="Eventi in programma">
    <mat-icon>event_available</mat-icon>
  </button>
  <button mat-icon-button aria-label="Notifiche">
    <mat-icon>mark_chat_unread</mat-icon>
  </button>
  <button mat-icon-button
    color="warn"
    aria-label="Artisti preferiti">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Pagina gruppo" matTooltip="Gruppi"
  [matMenuTriggerFor]="menu">
    <mat-icon>groups</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item color="accent" 
      [routerLink]="['create-group']">
      <mat-icon>add</mat-icon>
      Crea gruppo
    </button>
      <button mat-menu-item 
        *ngFor="let group of myGroup" 
        [value]="group.Id"
        (click)="changePage(group.Id!)">
          {{group.Name}}
      </button>
  </mat-menu>  
  <div class="flex-spacer"></div>
</div>
