.hero {
  background-image: url('/assets/img/homeimg.jpg') !important;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  height: calc(100vh - 160px);
  padding: 100px 0 0 100px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

.hero span {
  font-weight: bold;
}

.section {
  margin: 20px;
  padding: 15px;
}

.hero.is-mobile {
  padding: 25px 0 0 25px;
  height: calc(100vh - 80px);
}

.hero.is-mobile h1 {
  font-size: 40px;
  margin-bottom: 5px;
}
