<div class="event-container"
  [class.is-mobile]="isMobile">
  <mat-card
    [class.is-mobile]="isMobile"
    [class.is-tablet]="sizeMode == 'md'">
    <span class="title">Crea Evento</span>
    <form [formGroup]="eventForm">
        <div class="form-container">

            <mat-form-field appearance="fill">
            <mat-label>Nome Evento</mat-label>
            <input 
                [formControl]="eventName"
                matInput required>
            <mat-error> Errore </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Descrizione Evento</mat-label>
                <textarea 
                    [formControl]="eventDescription"
                    matInput 
                    placeholder="Scrivi una descrizione dell'evento"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Genere evento</mat-label>
                <mat-select [formControl]="eventGenres" multiple required>
                  <mat-option *ngFor="let genre of genres" [value]="genre.Id"> {{ genre.Genre }} </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Scegli una data</mat-label>
                <input [formControl]="eventDate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Specificare AM o PM</mat-label>
                <input [formControl]="eventTime" matInput type="time" required>
            </mat-form-field>
            
        </div>

        <div class="buttons">

            <button mat-raised-button
                color="primary"
                (click)="createEvent()">
                Crea
            </button>

        </div>
    </form>
  </mat-card>
</div>
