<div class="event"
  [class.is-mobile]="isMobile"
  [class.is-tablet]="sizeMode == 'md'">

  <div class="player-container">
    <div class="player">
      <app-event-player></app-event-player>
    </div>

    <div class="about-container">
      <mat-expansion-panel hideToggle #about
        [disabled]="!isMobile"
        (opened)="onOpeningAbout()"
        (closed)="onClosingAbout()" >
        <mat-expansion-panel-header
          collapsedHeight="70px"
          expandedHeight="70px">
          <mat-panel-title
            *ngIf="event && group">
            <div class="about-header">
              <div class="avatar-container">
                <div class="avatar"
                  [style]="'background-image: url(' + group.Avatar + ')'"
                  *ngIf="group.Avatar"></div>
              </div>
              <div class="about-description">
                <h1 class="about-title">{{event.Name}}</h1>
                <span class="about-artist">{{group.Name}}</span>
              </div>
            </div>
          </mat-panel-title>
          <div class="about-start">
            <button mat-button [disabled]="status" (click)="startEvent()" [disabled]="status"><mat-icon>live_tv</mat-icon></button>
          </div>
          <div class="about-stop">
            <button mat-button (click)="stopEvent()" [disabled]="!status"><mat-icon>stop</mat-icon></button>
          </div>
        </mat-expansion-panel-header>

        <div class="about"
          [class.is-mobile]="isMobile"
          [class.is-tablet]="sizeMode == 'md'"
          *ngIf="event">
          <!--<div style="width: 100%; height: 1200px; background-color: #f44336;"></div>-->
          {{event.Description}}
        </div>
      </mat-expansion-panel>
    </div>
  </div>

  <div class="chat-container"
    [class.is-mobile]="isMobile">
    <mat-expansion-panel hideToggle #chat
	    [disabled]="!isMobile"
      (opened)="onOpeningChat()"
      (closed)="onClosingChat()"
	    expanded>
      <mat-expansion-panel-header
        collapsedHeight="40px"
        expandedHeight="40px">
        <mat-panel-title>
          Chat
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="chat"
        [class.is-mobile]="isMobile"
        [class.is-tablet]="sizeMode == 'md'">
        <div style="width: 100%; height: 1200px; background-color: white;"></div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
