.event {
  display: flex;
  flex-flow: row;
  height: calc(100vh - 64px);
}

.event.is-mobile {
  flex-flow: column;
  height: calc(100vh - 56px);
}

.event.is-tablet {
  height: calc(100vh - 64px);
}

.player-container {
  width: 100%;
}

.player {
  height: 48px;
}

.about {
  overflow: auto;
  margin-bottom: -6px;
  padding-right: 10px;

  max-height: calc(100vh - 64px - 128px);
  min-height: calc(100vh - 64px - 128px);
}

.about.is-mobile {
  margin-left: -14px;
  margin-right: -14px;
  margin-top: 14px;

  max-height: calc(100vh - 56px - 169px);
  min-height: calc(100vh - 56px - 169px);
}

.about.is-tablet {
  margin-left: 0;
  margin-right: 0;

  max-height: calc(100vh - 64px - 169px);
  min-height: calc(100vh - 64px - 169px);
}

.chat-container {
  min-width: 400px;
}

.chat-container.is-mobile {
  min-width: 320px;
  width: 100%;
}

.chat {
  overflow: auto;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: -6px;

  max-height: calc(100vh - 64px - 50px);
  min-height: calc(100vh - 64px - 50px);
}

.chat.is-mobile {
  max-height: calc(100vh - 56px - 169px);
  min-height: calc(100vh - 56px - 169px);
}

.chat.is-tablet {
  max-height: calc(100vh - 64px - 169px);
  min-height: calc(100vh - 64px - 169px);
}

.about-container mat-expansion-panel-header {
  align-items: end;
}

.avatar {
  background-size: cover;
  background-position: center;
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
}

.avatar-container {
  height: 50px;
  padding: 25px 10px;
}

.about-header {
  height: 70px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: row;
}

.about-description {
  height: 50px;
  min-width: 145px;
}

.about-start{
  position:relative;
  padding-top: 15px;
}

.about-stop{
  position:relative;
  padding-top: 15px;
}

.about-title {
  margin: 0;
}

/**/

mat-expansion-panel {
  border-radius: 0;
}

mat-panel-title {
  margin-right: 0;
}

mat-expansion-panel-header[aria-disabled=true]{
  padding: 0 10px;
  color: white;
}