<!--
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.content}}
    </mat-grid-tile>
</mat-grid-list>
-->

<div class="event"
  [class.is-mobile]="isMobile">
  <div class="player-container"
    [class.is-mobile]="isMobile">
    <div class="player">
      <app-event-player></app-event-player>
    </div>
    <div class="about">
      <div style="width: 100%; height:200px; background-color:beige;">

      </div>
    </div>
  </div>
  <div class="chat-container"
    [class.is-mobile]="isMobile">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chat
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="chat">
          <div style="width: 100%; height:1200px; background-color: red;"></div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


<!--
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>
-->