<div class="login-container"
  [class.is-mobile]="isMobile">
  <mat-card
    [class.is-mobile]="isMobile"
    [class.is-tablet]="sizeMode == 'md'">
    <mat-tab-group mat-stretch-tabs
      [selectedIndex]="getType()"
      (selectedIndexChange)="changeTab($event)">

      <mat-tab label="Log In" *ngIf="getType() == 0 || getType() == 1">
        <form [formGroup]="loginForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput
                [formControl]="loginUsername">
              <mat-error> {{ getErrorMessage(loginUsername) }} </mat-error>
            </mat-form-field>

            <div class="login-or">oppure</div>

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput
                [formControl]="loginEmail">
              <mat-error> {{ getErrorMessage(loginEmail, ['email']) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput
                [formControl]="loginPassword"
                type="password">
              <mat-hint> {{ getHintMessage(loginPassword, 'minLength') }} </mat-hint>
              <mat-error> {{ getErrorMessage(loginPassword, ['minLength', 'password']) }} </mat-error>
            </mat-form-field>

          </div>

          <div class="buttons">

            <button mat-raised-button
              color="primary"
              (click)="login()">
              Login
            </button>
            <span>Hai dimenticato la password?</span>
            <button mat-button
              routerLink="/recovery"
              class="pwd-button">
              Clicca qui.
            </button>

          </div>
        </form>
      </mat-tab>

      <mat-tab label="Sign up" *ngIf="getType() == 0 || getType() == 1">
        <form [formGroup]="signupForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput
                [formControl]="signupName">
              <mat-error> {{ getErrorMessage(signupName) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Cognome</mat-label>
              <input matInput
                [formControl]="signupSurname">
              <mat-error> {{ getErrorMessage(signupSurname) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput
                [formControl]="signupUsername">
              <mat-error> {{ getErrorMessage(signupUsername) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput
                [formControl]="signupEmail">
              <mat-error> {{ getErrorMessage(signupEmail, ['email']) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput
                type="password"
                [formControl]="signupPassword">
              <mat-hint> {{ getHintMessage(signupPassword, 'minLength') }} </mat-hint>
              <mat-error> {{ getErrorMessage(signupPassword, ['minLength', 'password']) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Conferma password</mat-label>
              <input matInput
                type="password"
                [formControl]="signupPasswordConfirm">
              <mat-hint> {{ getHintMessage(signupPasswordConfirm, 'minLength') }} </mat-hint>
              <mat-error> {{ getErrorMessage(signupPasswordConfirm, ['minLength', 'password']) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Generi preferiti</mat-label>
              <mat-select multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="buttons">

            <button mat-raised-button
              color="primary"
              (click)="signUp()">
              Sign up
            </button>

          </div>
        </form>
      </mat-tab>

      <mat-tab label="Recupero password" *ngIf="getType() == 2">
        <form [formGroup]="recoveryEmailForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput
                [formControl]="recoveryEmail">
                <mat-error> {{ getErrorMessage(recoveryEmail, ['email']) }} </mat-error>
            </mat-form-field>

          </div>

          <div class="buttons">

            <button mat-raised-button
              color="primary">
              Recupera
            </button>

          </div>
        </form>
      </mat-tab>

      <mat-tab label="Recupero password" *ngIf="getType() == 3">
        <form [formGroup]="recoveryForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Password vecchia</mat-label>
              <input matInput
                type="password"
                [formControl]="recoveryPasswordOld">
              <mat-hint> {{ getHintMessage(recoveryPasswordOld, 'minLength') }} </mat-hint>
              <mat-error> {{ getErrorMessage(recoveryPasswordOld, ['minLength', 'password']) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password nuova</mat-label>
              <input matInput
                type="password"
                [formControl]="recoveryPassword">
              <mat-hint> {{ getHintMessage(recoveryPassword, 'minLength') }} </mat-hint>
              <mat-error> {{ getErrorMessage(recoveryPassword, ['minLength', 'password']) }} </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Conferma password nuova</mat-label>
              <input matInput
                type="password"
                [formControl]="recoveryPasswordConfirm">
              <mat-hint> {{ getHintMessage(recoveryPasswordConfirm, 'minLength') }} </mat-hint>
              <mat-error> {{ getErrorMessage(recoveryPasswordConfirm, ['minLength', 'password']) }} </mat-error>
            </mat-form-field>

          </div>

          <div class="buttons">

            <button mat-raised-button
              color="primary">
              Cambia password
            </button>

          </div>
        </form>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
