.loginContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  height: calc(100vh - 196px);
  margin-top: 50px;
}

.loginContainerMobile {
  margin-top: 0;
}

mat-card {
  width: 500px;
  text-align: right;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.matCardMobile {
  height: calc(100vh - 96px);
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.tabContainer {
  margin: 25px auto 10px auto;
  width: 75%;
}

.tabContainer mat-form-field {
  margin-bottom: 5px;
}
