<div class="login-container"
  [class.is-mobile]="isMobile">
  <mat-card
    [class.is-mobile]="isMobile">
    <mat-tab-group mat-stretch-tabs
      [selectedIndex]="getType()"
      (selectedIndexChange)="changeTab($event)">

      <mat-tab label="Log In" *ngIf="getType() == 0 || getType() == 1">
        <form [formGroup]="loginForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput
                [formControl]="usernameLogin"
                required>
              <!--<mat-error> {{ getErrorMessage(usernameLogin) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput
                [formControl]="passwordLogin"
                type="password"
                required>
              <!--<mat-hint> {{ getHintMessage(passwordLogin, ['minLength'], false) }} </mat-hint>
              <mat-error> {{ getErrorMessage(passwordLogin, ['required']) }} </mat-error>
              <mat-error> {{ getErrorMessage(passwordLogin, ['minLength'], false) }} </mat-error>
              <mat-error> {{ getErrorMessage(passwordLogin, ['password'], false) }} </mat-error>-->
            </mat-form-field>

          </div>

          <div class="buttons">

            <button mat-raised-button
              color="primary"
              (click)="login()">
              Login
            </button>
            <span>Hai dimenticato la password?</span>
            <button mat-button
              routerLink="/recovery"
              class="pwd-button">
              Clicca qui.
            </button>

          </div>
        </form>
      </mat-tab>

      <mat-tab label="Sign up" *ngIf="getType() == 0 || getType() == 1">
        <form [formGroup]="signUpForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput
                [formControl]="nome"
                required>
              <!--<mat-error> {{ getErrorMessage(nome) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Cognome</mat-label>
              <input matInput
                [formControl]="cognome"
                required>
              <!--<mat-error> {{ getErrorMessage(cognome) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput
                [formControl]="username"
                required>
              <!--<mat-error> {{ getErrorMessage(username) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput
                [formControl]="email"
                required>
              <!--<mat-error> {{ getErrorMessage(email, ['email']) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput
                type="password"
                [formControl]="password"
                required>
              <!--<mat-hint> {{ getErrorMessage(password, ['minLength'], false) }} </mat-hint>-->
              <!--<mat-error> {{ getErrorMessage(password, ['minLength']) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Conferma password</mat-label>
              <input matInput
                type="password"
                [formControl]="password"
                required>
              <!--<mat-hint> {{ getErrorMessage(password, ['minLength'], false) }} </mat-hint>-->
              <!--<mat-error> {{ getErrorMessage(password, ['minLength']) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Generi preferiti</mat-label>
              <mat-select multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="buttons">

            <button mat-raised-button
              color="primary"
              (click)="signUp()">
              Sign up
            </button>

          </div>
        </form>
      </mat-tab>

      <mat-tab label="Recupero password" *ngIf="getType() == 2">
        <form [formGroup]="loginForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput
                [formControl]="usernameLogin"
                required>
              <!--<mat-error> {{ getErrorMessage(usernameLogin) }} </mat-error>-->
            </mat-form-field>

          </div>

          <div class="buttons">

            <button mat-raised-button
              color="primary">
              Recupera
            </button>

          </div>
        </form>
      </mat-tab>

      <mat-tab label="Recupero password" *ngIf="getType() == 3">
        <form [formGroup]="loginForm" >
          <div class="tab-container">

            <mat-form-field appearance="fill">
              <mat-label>Password vecchia</mat-label>
              <input matInput
                type="password"
                [formControl]="password"
                required>
              <!--<mat-hint> {{ getErrorMessage(password, ['minLength'], false) }} </mat-hint>-->
              <!--<mat-error> {{ getErrorMessage(password, ['minLength']) }} </mat-error>-->
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Password nuova</mat-label>
              <input matInput
                type="password"
                [formControl]="password"
                required>
              <!--<mat-hint> {{ getErrorMessage(password, ['minLength'], false) }} </mat-hint>-->
              <!--<mat-error> {{ getErrorMessage(password, ['minLength']) }} </mat-error>-->
            </mat-form-field>

          </div>

          <div class="buttons">

            <button mat-raised-button
              color="primary">
              Cambia password
            </button>

          </div>
        </form>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
