<div class="loginContainer"
  [class.loginContainerMobile]="isMobile">
  <mat-card
    [class.matCardMobile]="isMobile">
    <mat-tab-group mat-stretch-tabs>

      <mat-tab label="Log In">
        <div class="tabContainer">

          <mat-form-field appearance="fill">
            <mat-label>Enter email or username</mat-label>
            <input matInput
              [formControl]="emailLogin"
              required>
            <mat-error> {{ getErrorMessage(emailLogin,'email') }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
              [formControl]="passwordLogin"
              type="password"
              required>
            <mat-hint> {{ getErrorMessage(passwordLogin,'minLength',false) }} </mat-hint>
            <mat-error> {{ getErrorMessage(passwordLogin,'minLength') }} </mat-error>
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary">Login</button>
      </mat-tab>

      <mat-tab label="Sign up">
        <div class="tabContainer">

          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput
              [formControl]="nome"
              required>
            <mat-error> {{ getErrorMessage(nome) }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Cognome</mat-label>
            <input matInput
              [formControl]="cognome"
              required>
            <mat-error> {{ getErrorMessage(cognome) }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput
              [formControl]="username"
              required>
            <mat-hint> {{ getErrorMessage(username,'minLength',false) }} </mat-hint>
            <mat-error> {{ getErrorMessage(username,'minLength') }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput
              [formControl]="email"
              required>
            <mat-error> {{ getErrorMessage(email,'email') }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput
              type="password"
              [formControl]="password"
              required>
            <mat-hint> {{ getErrorMessage(password,'minLength',false) }} </mat-hint>
            <mat-error> {{ getErrorMessage(password,'minLength') }} </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Generi preferiti</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary">Sign up</button>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>
