@import "./material/roboto.css";
@import "./material/material-icons.css";

html, body {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Override ngx-audio-player */
mat-card.ngx-audio-player {
  min-width: 320px;
}
