@import '~@angular/material/theming';

@include mat-core();

$castle-fe-light-primary: mat-palette($mat-blue-gray, 900);
$castle-fe-light-accent: mat-palette($mat-amber, A100);

$castle-fe-dark-primary: mat-palette($mat-purple, 800);
$castle-fe-dark-accent: mat-palette($mat-deep-purple, 100);

$castle-fe-warn: mat-palette($mat-red);

$castle-fe-light-theme: mat-light-theme((
  color: (
    primary: $castle-fe-light-primary,
    accent: $castle-fe-light-accent,
    warn: $castle-fe-warn,
  )
));

$castle-fe-dark-theme: mat-dark-theme((
  color: (
    primary: $castle-fe-dark-primary,
    accent: $castle-fe-dark-accent,
    warn: $castle-fe-warn,
  )
));

@include angular-material-theme($castle-fe-light-theme);

.darkmode {
  @include angular-material-color($castle-fe-dark-theme);
}
