.hero{
    background-image: url('/assets/img/homeimg.jpg') !important;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1em;
}
.section {
  padding: 1rem 1.5rem;
}
.block {
    margin: 5em;
}
.box{
    background-color: #7ea2aa;
}
.table{
    background-color: #7ea2aa;
}

.sidenav-container {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #7ea2aa;
}

.sidenav{
  background: #303633;
}

mat-sidenav {
    width: 40px;
  }