.hero{
    background-image: url('/assets/img/homeimg.jpg') !important;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1em;
}
.hero-body{
    background-image: url('/assets/img/pexels-snapwire-6966.jpg') !important;
    background-size:cover;
    background-position:center bottom;
    margin-bottom: 0em;
}
.section {
  padding: 1rem 1.5rem;
}
.block {
    margin: 5em;
}
.box{
    background-color: #7ea2aa;
}
.table{
    background-color: #7ea2aa;
}
