<mat-card class="user"
  color="primary"
  *ngIf="user">
  <div class="header">
    <div class="avatar"
      [style]="'background-image: url(' + user.Avatar + ')'"></div>
    <div class="info-container">
      <span class="username"> {{ user.Username }} </span>
      <span class="name"> {{ user.Name + ' ' + user.Surname }} </span>
    </div>
  </div>
  <div class="flex-spacer"></div>
  <button mat-stroked-button
    class="edit-user">
    Gestione utente
  </button>
  <button mat-raised-button
    color="accent"
    (click)="logout()" >
    Log out
  </button>
</mat-card>
