.user {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header {
  height: 75px;
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-flow: row;
}

.avatar {
  background-size: cover;
  background-position: center;
  min-height: 75px;
  min-width: 75px;
  border-radius: 50%;
}

.info-container {
  display: flex;
  flex-flow: column;
  margin-left: 15px;
  justify-content: center;
}

.username {
  font-size: 24px;
  margin-bottom: 5px;
}

.name {
  opacity: 0.8;
  font-size: 15px;
}

.flex-spacer {
  flex: 1;
}
