<mat-card class="user"
  color="primary"
  *ngIf="isLogged && user">
  <div class="header">
    <mat-icon
      class="default-avatar"
      *ngIf="!user.Avatar">
      account_circle</mat-icon>
    <div class="avatar"
      [style]="'background-image: url(' + user.Avatar + ')'"
      *ngIf="user.Avatar"></div>
    <div class="info-container">
      <span class="username"> {{ user.Username }} </span>
      <span class="name"> {{ user.Name + ' ' + user.Surname }} </span>
    </div>
  </div>
  <div class="flex-spacer"></div>
  <button mat-stroked-button
    (click)="close()"
    [routerLink]="['user', user.Username]"
    class="edit-user">
    Gestione utente
  </button>
  <button mat-raised-button
    color="accent"
    (click)="logout()" >
    Log out
  </button>
</mat-card>
